<style>
    h1{
        text-align: center;
        color:blueviolet;
    }
</style>
<div class="container">
    <div class="menu">
        <h1>
            Student Service
        </h1>
    </div>
</div>
{{outlet}}